<aside>
    <ul class="articles">
        <li><a href="#">Meu primeiro post</a></li>
        <li><a href="#">Post 2</a></li>
        <li><a href="#">Post 3</a></li>
        <li><a href="#">Post 4</a></li>
    </ul>
</aside>