---
layout: layout.njk
---

<main>
    <article>
        <h2 class="title">Meu primeiro post</h2>

        <img src="/images/glayson.jpg" alt="Foto do Glayson" class="avatar">
        <h3 class="author">Por Glayson B. Santos</h3>

        <div class="content">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, corrupti, itaque doloremque, iusto alias autem eius earum veritatis possimus illo labore velit ducimus vero nostrum totam ratione rem culpa iste reiciendis voluptatibus deleniti! Placeat voluptatum dolor consequuntur ullam, quibusdam quidem quam earum quasi perspiciatis corrupti illo, harum, dolores dolorem incidunt.
            </p>

            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem harum obcaecati dicta officia quos, doloremque voluptatem libero quasi a illum in laboriosam accusantium amet inventore est cumque ipsam, quis alias?
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero soluta minima, illo obcaecati maiores hic beatae in rem asperiores provident! Officiis eius sapiente nemo obcaecati sunt recusandae perferendis natus harum eaque excepturi fugiat minima perspiciatis dolorem quos asperiores quisquam blanditiis fugit, nesciunt esse facilis. Corrupti exercitationem rem doloribus provident incidunt reprehenderit alias porro cumque quaerat in accusamus dolore ut temporibus obcaecati ex, voluptatum nobis delectus! Commodi sapiente voluptatum temporibus suscipit, aliquam omnis sint architecto necessitatibus repellendus, vitae beatae praesentium deleniti. Corporis omnis architecto doloribus iusto nisi totam nostrum eaque, placeat, recusandae laudantium ut libero ullam explicabo vitae, earum illo cupiditate!
            </p>
        </div>
    </article>

    {% include 'sidebar.njk' %}
</main>