---
layout: layout.njk
---

<article>
    <h2 class="title">Sobre o autor</h2>

    <div class="content">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non incidunt aliquam, ea illo facere beatae laudantium obcaecati, tempora quae cumque saepe eligendi eaque officia iste pariatur voluptates consequuntur, iusto doloribus!
        </p>
    </div>
</article>